<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/modules/header::css_library"></head>

<body class="hold-transition skin-blue sidebar-mini">

    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1 style="font-family: 'Microsoft YaHei';">
        任务总览
        <small>Overview of Tasks</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 系统</a></li>
        <li class="active">综合信息</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- Small boxes (Stat box) -->
      <div class="row">
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3>5</h3>

              <p>已发布任务数</p>
            </div>
            <div class="icon">
              <i class="fa fa-object-ungroup"></i>
            </div>
            <a href="#" class="small-box-footer">详细信息 <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-green">
            <div class="inner">
              <h3>5<sup style="font-size: 20px"></sup></h3>

              <p>已完成任务数</p>
            </div>
            <div class="icon">
              <i class="fa fa-thumbs-o-up"></i>
            </div>
            <a href="#" class="small-box-footer">详细信息 <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-yellow">
            <div class="inner">
              <h3>00</h3>

              <p>待办任务数</p>
            </div>
            <div class="icon">
              <i class="fa fa-flag"></i>
            </div>
            <a href="#" class="small-box-footer">详细信息 <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-red">
            <div class="inner">
              <h3>00</h3>

              <p>紧急任务数</p>
            </div>
            <div class="icon">
              <i class="fa fa-flash" style="margin-right: -37px;"></i>
              <i class="fa fa-flash"></i>
            </div>
            <a href="#" class="small-box-footer">详细信息 <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
      </div>
      <!-- /.row -->
      <!-- Main row -->
      <div class="row">
        <!-- Left col -->
        <section class="col-lg-7 connectedSortable">
          <!-- TO DO List -->
          <div class="box box-primary">
            <div class="box-header">
              <i class="ion ion-clipboard"></i>

              <h3 class="box-title" style="font-family: 'Microsoft YaHei'; ">消息列表</h3>

            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive">
              <table class="table table-hover">
                <tr style="background-color: #EEE;">
                  <th>序号</th>
                  <th>主题</th>
                  <th>日期</th>
                  <th>状态</th>
                  <th>发送人</th>
                </tr>
                <tr>
                  <td>1</td>
                  <td>测试项目3-游泳馆改造工程</td>
                  <td>2017/8/20</td>
                  <td><span class="label label-primary" style="font-size: 14px;">已&nbsp;&nbsp;读</span></td>
                  <td>kingroot</td>
                </tr>
                <tr style="background-color: #EEE;">
                  <td>2</td>
                  <td>测试项目2-足球场改造</td>
                  <td>2017/8/18</td>
                  <td><span class="label label-danger" style="font-size: 14px;">未&nbsp;&nbsp;读</span></td>
                  <td>kingroot</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>测试项目-篮球馆改造</td>
                  <td>2017/8/17</td>
                  <td><span class="label label-primary" style="font-size: 14px;">已&nbsp;&nbsp;读</span></td>
                  <td>kingroot</td>
                </tr>
                <tr style="background-color: #EEE;">
                  <td>4</td>
                  <td>后勤处办公室房屋修缮项目启动</td>
                  <td>2017/8/15</td>
                  <td><span class="label label-primary" style="font-size: 14px;">已&nbsp;&nbsp;读</span></td>
                  <td>kingroot</td>
                </tr>
                <tr>
                  <td>5</td>
                  <td>后勤处办公室房屋修缮项目启动</td>
                  <td>2017/4/14</td>
                  <td><span class="label label-danger" style="font-size: 14px;">未&nbsp;&nbsp;读</span></td>
                  <td>kingroot</td>
                </tr>
              </table>
              <hr style="border-color: #CCCCCC;"/>
              <div class="box-tools pull-right" style="margin-right: 10px;">
                <ul class="pagination pagination-sm inline">
                  <li><a href="#">&laquo;</a></li>
                  <li><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">&raquo;</a></li>
                </ul>
              </div>
            </div>
            <!-- /.box-body -->

          </div>
          <!-- /.box -->

          <!-- TO DO List -->
          <div class="box box-success">
            <div class="box-header">
              <i class="ion ion-clipboard"></i>

              <h3 class="box-title" style="font-family: 'Microsoft YaHei'; ">项目审计进度</h3>

            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive">
              <table class="table table-hover">
                <tr style="background-color: #EEE;">
                  <th>序号</th>
                  <th>项目名称</th>
                  <th>当前阶段</th>
                  <th>开始日期</th>
                  <th>状态</th>
                </tr>
                <tr>
                  <td>1</td>
                  <td>测试项目3-游泳馆改造工程</td>
                  <td>施工方施工</td>
                  <td>2017/8/18</td>
                  <td><span class="badge bg-green" style="font-size: 15px;">进行中</span></td>
                </tr>
                <tr style="background-color: #EEE;">
                  <td>2</td>
                  <td>测试项目2-足球场改造</td>
                  <td>内部审计</td>
                  <td>2017/8/16</td>
                  <td><span class="badge bg-red" style="font-size: 15px;">驳&nbsp;&nbsp;&nbsp;&nbsp;回</span></td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>测试项目-篮球馆改造</td>
                  <td>外部审计</td>
                  <td>2017/8/16</td>
                  <td><span class="badge bg-blue" style="font-size: 15px;">通&nbsp;&nbsp;&nbsp;&nbsp;过</span></td>
                </tr>
                <tr style="background-color: #EEE;">
                  <td>4</td>
                  <td>2017山东体育学院大门维修工程</td>
                  <td>责任单位审计</td>
                  <td>2017/8/15</td>
                  <td><span class="badge bg-green" style="font-size: 15px;">进行中</span></td>
                </tr>
                <tr>
                  <td>5</td>
                  <td>2017学院足球场操场升级工程</td>
                  <td>内部审计发起</td>
                  <td>2017/8/16</td>
                  <td><span class="badge bg-green" style="font-size: 15px;">进行中</span></td>
                </tr>
              </table>
              <hr style="border-color: #CCCCCC;"/>
              <div class="box-tools pull-right" style="margin-right: 10px;">
                <ul class="pagination pagination-sm inline">
                  <li><a href="#">&laquo;</a></li>
                  <li><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">&raquo;</a></li>
                </ul>
              </div>
            </div>
            <!-- /.box-body -->

          </div>
          <!-- /.box -->

          <!-- quick email widget -->


        </section>
        <!-- /.Left col -->
        <!-- right col (We are only adding the ID to make the widgets sortable)-->
        <section class="col-lg-5 connectedSortable">

          <div class="box box-widget widget-user-2">
            <!-- Add the bg color to the header using any of the bg-* classes -->
            <div class="widget-user-header" style="background-color: #80B5D3;">
              <div class="widget-user-image">
                <img class="img-circle" th:src="@{/img/lte/dk.png}" alt="User Avatar"/>
              </div>
              <!-- /.widget-user-image -->
              <h3 class="widget-user-username" style="font-family: 'Microsoft YaHei';font-size: 17px; font-weight: 600; margin-top: 5px;">用户 kingroot</h3>
              <h5 class="widget-user-desc" style="font-family: 'Microsoft YaHei';">超级管理员</h5>
            </div>
            <div class="box-footer no-padding">
              <ul class="nav nav-stacked">
                <li><a href="#">电子邮箱 <span class="pull-right badge bg-blue" style="font-size: 15px;">liangtee@126.com</span></a></li>
                <li><a href="#">联系电话 <span class="pull-right badge bg-aqua" style="font-size: 15px;">13066000000</span></a></li>
                <li><a href="#">所属部门 <span class="pull-right badge bg-green" style="font-size: 15px;">运营中心</span></a></li>
                <li><a href="#">参与项目 <span class="pull-right badge bg-red">15</span></a></li>
              </ul>
            </div>
          </div>



          <!-- Calendar -->
          <div class="box box-solid bg-green-gradient">
            <div class="box-header">
              <i class="fa fa-calendar"></i>

              <h3 class="box-title">Calendar</h3>
              <!-- tools box -->
              <div class="pull-right box-tools">
                <!-- button with a dropdown -->
                <div class="btn-group">
                  <button type="button" class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-bars"></i></button>
                  <ul class="dropdown-menu pull-right" role="menu">
                    <li><a href="#">Add new event</a></li>
                    <li><a href="#">Clear events</a></li>
                    <li class="divider"></li>
                    <li><a href="#">View calendar</a></li>
                  </ul>
                </div>
                <button type="button" class="btn btn-success btn-sm" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-success btn-sm" data-widget="remove"><i class="fa fa-times"></i>
                </button>
              </div>
              <!-- /. tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
              <!--The calendar -->
              <div id="calendar" style="width: 100%"></div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer text-black">
              <div class="row">
                <div class="col-sm-6">
                  <!-- Progress bars -->
                  <div class="clearfix">
                    <span class="pull-left">Task #1</span>
                    <small class="pull-right">90%</small>
                  </div>
                  <div class="progress xs">
                    <div class="progress-bar progress-bar-green" style="width: 90%;"></div>
                  </div>

                  <div class="clearfix">
                    <span class="pull-left">Task #2</span>
                    <small class="pull-right">70%</small>
                  </div>
                  <div class="progress xs">
                    <div class="progress-bar progress-bar-green" style="width: 70%;"></div>
                  </div>
                </div>
                <!-- /.col -->
                <div class="col-sm-6">
                  <div class="clearfix">
                    <span class="pull-left">Task #3</span>
                    <small class="pull-right">60%</small>
                  </div>
                  <div class="progress xs">
                    <div class="progress-bar progress-bar-green" style="width: 60%;"></div>
                  </div>

                  <div class="clearfix">
                    <span class="pull-left">Task #4</span>
                    <small class="pull-right">40%</small>
                  </div>
                  <div class="progress xs">
                    <div class="progress-bar progress-bar-green" style="width: 40%;"></div>
                  </div>
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->
            </div>
          </div>
          <!-- /.box -->

        </section>
        <!-- right col -->
      </div>
      <!-- /.row (main row) -->

    </section>
    <!-- /.content -->

<div th:replace="/modules/bottom::js_library"></div>

</body>
</html>
