<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/modules/header::css_library"></head>

<link rel="stylesheet" th:href="@{/plugins/bootstrap-switch/bootstrap-switch.min.css}"/>

<body class="hold-transition skin-blue sidebar-mini">

    <section class="content-header">
      <h1 style="font-family: 'Microsoft YaHei';">
        用户管理
        <small>User Management</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 系统</a></li>
        <li class="active">综合信息</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <input id="path" type="hidden" th:value="@{/sys}"></input>
      <!-- Small boxes (Stat box) -->
      <!-- /.row -->
      <!-- Main row -->
      <div class="row">
        <!-- Left col -->
        <section class="col-lg-10 col-md-12 connectedSortable">

          <div class="box box-primary">
            <div class="box-header">
              <i class="ion ion-clipboard"></i>

              <h3 class="box-title" style="font-family: 'Microsoft YaHei'; ">用户列表</h3>

            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive">
              <table id="treeTable" class="table table-hover ">
                <tbody>
                  <thead>
                    <tr style="background-color: #EEE;">
                      <th>名称</th>
                      <th>类型</th>
                      <th>角色</th>
                      <th>邮箱</th>
                      <th>电话</th>
                      <th>创建日期</th>
                      <th>操作</th>
                      <th>状态</th>
                    </tr>
                  </thead>
                  <th:block th:each="org, status : ${orgList}">
                    <tr th:attr="data-tt-id=${org.ID}, data-tt-parent-id=${org.belongTo}">
                      <td th:id="${'orgname'+org.ID}" th:text="${org.orgName}">山东大学</td>
                      <td th:text="${org.orgType}">学校</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td><a href="javascript:void(0);" th:onclick="${'showAddModal('+org.ID+')'}">添加用户</a></td>
                      <td></td>
                    </tr>
                    <th:block th:if="${#maps.containsKey(userMap, org.ID)}">
                      <th:block th:each="user, status : ${userMap[org.ID]}">
                        <tr th:attr="data-tt-id=${'uid'+user.UID}, data-tt-parent-id=${user.deptID}" >
                          <td><i class="fa fa-user"></i><th:block th:text="${' '+user.name}"></th:block></td>
                          <td></td>
                          <td th:text="${user.roleName}">超级管理员</td>
                          <td th:text="${user.EMail}">liangtee@126.com</td>
                          <td th:text="${user.phoneNumber}">13066000000</td>
                          <td th:text="${user.createTime}">2017/5/1</td>
                          <td><a href="javascript:void(0);" th:onclick="${'loadUserInfo('+user.UID+')'}">修改</a> / <a href="javascript:void(0);" th:onclick="${'deleteUser('+user.UID+')'}">删除</a></td>
                          <th:block th:if="${user.isActive()} == true">
                            <td style="color: #00B83F;">启用</td>
                          </th:block>
                          <th:block th:if="${user.isActive()}== false">
                            <td style="color: #aa1111;">禁用</td>
                          </th:block>
                        </tr>
                      </th:block>
                    </th:block>
                  </th:block>
                </tbody>

              </table>
              <hr style="border-color: #CCCCCC;"/>
              <div class="box-tools pull-right" style="margin-right: 10px;">
                <ul class="pagination pagination-sm inline">
                  <li><a href="#">&laquo;</a></li>
                  <li><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">&raquo;</a></li>
                </ul>
              </div>
            </div>
            <!-- /.box-body -->

          </div>
          <!-- /.box -->

        </section>
      </div>
      <!-- /.row (main row) -->

    </section>
    <!-- /.content -->

    <!-- Modal -->
    <div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div id="userInfo" class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <template v-if="userID == ''">
              <h4 class="modal-title" id="myModalLabel" style="font-family: 'Microsoft YaHei';">新增用户</h4>
            </template>
            <template v-else="v-else">
              <h4 class="modal-title" id="myModalLabel" style="font-family: 'Microsoft YaHei';">修改用户</h4>
            </template>
          </div>
          <div class="modal-body" style="text-align: left;">
            <div class="row" style="margin-left:auto; margin-right:auto; width: 80%; ">
              <div class="col-sm-12 col-md-12" style="float:left;">
                <form id="vform">
                <input type="hidden" id="orgID"></input>
                <div class="form-group" style="margin-top: -6px; margin-left: 8px;">
                  <label>所属机构:</label>
                  <span id="n-orgname"></span><br></br>
                </div>
                <div class="form-group" style="margin-top: -10px;">
                  <label style="color: red;">*</label><label>用&nbsp;&nbsp;户&nbsp;&nbsp;名:</label>
                  <input v-model="userName" name="userName" type="text" style="width: 50%;"></input><br></br>
                </div>
                <div class="form-group" style="margin-top: -10px;">
                  <label style="color: red;">*</label><label>角&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;色:</label>
                  <!--<select v-model="selectedRoleID"  style="width: 30%;">-->
                    <!--<option v-for="role in roleList" v-bind:value="role.id">-->
                      <!--{{ role.name }}-->
                    <!--</option>-->
                  <!--</select>-->

                  <select v-model="selectedRoleID" v-bind:value="selectedRoleID" name="selectedRoleID" style="width: 30%;">
                    <option th:each="role : ${roleList}" th:value="${role.id}" th:text="${role.name}">角色名</option>
                  </select>
                </div>
                <div class="form-group" style="margin-top: -10px;">
                  <label style="color: red;">*</label><label>密&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;码:</label>
                  <input id="passwd" v-model="passwd" name="passwd" type="password" style="width: 50%;"></input><br></br>
                </div>
                <div class="form-group" style="margin-top: -10px;">
                  <label style="color: red;">*</label><label>确认密码:</label>
                  <input id="confirm_passwd" v-model="confirm_passwd" name="confirm_passwd" type="password" style="width: 50%;"></input><br></br>
                </div>
                <div class="form-group" style="margin-top: -10px;">
                  <label style="color: red;">*</label><label>电&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;话:</label>
                  <input v-model="userTel" name="userTel" type="text" style="width: 50%;"></input><br></br>
                </div>
                <div class="form-group" style="margin-top: -10px;">
                  <label style="color: red;">*</label><label>邮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;箱:</label>
                  <input v-model="userMail" name="userMail" type="text" style="width: 50%;"></input><br></br>
                </div>

                <label>&nbsp;&nbsp;账户状态:</label>&nbsp;
                  <input id="status" type="checkbox" v-model="isActive" name="my-checkbox" checked="checked" data-size="small" data-on-text="启用" data-off-text="禁用" data-on-color="success" data-off-color="danger"/>
                  <!--<input type="checkbox" name="my-checkbox"  data-size="small" data-on-text="启用" data-off-text="禁用" data-on-color="success" data-off-color="danger"/>-->
                  <br></br><br></br>

                <span style="color: red;">*项为必填项目</span>
                </form>
              </div>
            </div>

          </div>
          <div class="modal-footer">
            <template v-if="userID == ''">
              <button type="button" class="btn btn-primary" v-on:click="add">保&nbsp;&nbsp;存</button>
            </template>
            <template v-else="v-else">
              <button type="button" class="btn btn-primary" v-on:click="update">修&nbsp;&nbsp;改</button>
            </template>
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
          </div>
        </div>
      </div>
    </div>

<div th:replace="/modules/bottom::js_library"></div>

<script th:src="@{/plugins/bootstrap-switch/bootstrap-switch.min.js}"></script>

<script th:inline="javascript">
  /*<![CDATA[*/

    function deleteUser(UID) {
        var path = $("#path").val();
        if(window.confirm("确定删除该用户?")){
            $.ajax({
                type: "POST",
                url: path + "/users/delete",
                data: {UID: UID},
                success: function(result) {
                    var res = eval(result)
                    alert(res["message"]);
                    window.location.reload();
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        }
        return;
    }

    function showAddModal(orgID) {
        $("#addUserModal").modal("show");
        $("#orgID").val(orgID);
        $("#n-orgname").html($("#orgname"+orgID).html());
    }

    jQuery.validator.setDefaults({
        debug: true,
        success: "valid"
    });

    jQuery.validator.addMethod("isPhone", function(value, element) {
        var mobile = /^(((13[0-9]{1})|(15[0-9]{1})|(18[0-9]{1}))+\d{8})$/;
        return this.optional(element) || mobile.test(value);

    }, "请正确填写您的联系电话(手机)");

    var userInfo = new Vue({
        el: '#userInfo',
        data: {
            userID: '',
            userName: '',
            selectedRoleID: '',
            passwd: '',
            confirm_passwd: '',
            userTel: '',
            userMail: '',
            orgID: '',
            isActive: true
        },

        methods: {
            validate: function () {
                var errorSymbol = "<span style='color: red; font-size: 18px;'>&nbsp;x</span>";
                var vform = $("#vform");
                vform.validate({
                    rules: {
                        userName: {
                            required: true,
                            minlength: 6
                        },
                        passwd: {
                            required: true,
                            minlength: 8
                        },
                        confirm_passwd: {
                            required: true,
                        },
                        roleCode: {
                            required: true
                        },
                        userTel: {
                            required: true,
                            isPhone: true
                        },
                        userMail:{
                            required: true,
                            email: true
                        }
                    },
                    messages: {
                        userName: {
                            required: errorSymbol,
                            minlength: "<span style='color: red; font-size: 14px;'>&nbsp;用户名长度不能少于6位</span>"
                        },
                        passwd: {
                            required: errorSymbol,
                            minlength: "<span style='color: red; font-size: 14px;'>&nbsp;密码长度不能少于8位</span>"
                        },
                        confirm_passwd: {
                            required: true,
                            minlength: "<span style='color: red; font-size: 14px;'>&nbsp;密码长度不能少于8位</span>",
//                            equalTo: "<span style='color: red; font-size: 14px;'>&nbsp;两次输入密码不一致</span>"
                        },
                        roleCode: {
                            required: errorSymbol
                        },
                        userTel: {
                            required: errorSymbol,
                            isPhone: "<span style='color: red; font-size: 14px;'>&nbsp;手机号输入有误</span>"
                        },
                        userMail: {
                            required: errorSymbol,
                            email: "<span style='color: red; font-size: 14px;'>&nbsp;邮箱输入有误</span>"
                        }
                    }
                });
                return vform;
            },
            add: function () {
                if(this.validate().valid() == false) {
                    alert('数据项录入有误, 请按照提示修改');
                    return;
                }
                var url = $('#path').val() + '/users/add';
                var orgID = $('#orgID').val();

                $.ajax({
                    type: "POST",
                    url: url,
                    data: {orgID: orgID, userName: this.userName, selectedRoleID: this.selectedRoleID, passwd: this.passwd, userTel: this.userTel, userMail: this.userMail, isActive: this.isActive},
                    success: function(result) {
                        var res = eval(result)
                        alert(res["message"]);
                        window.location.reload();
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert(errorThrown);
                    }
                });
            },
            update: function () {
                if(this.validate().valid() == false) {
                    alert('数据项录入有误, 请按照提示修改');
                    return;
                }
                var url = $('#path').val() + '/users/update';
                var orgID = $('#orgID').val();

                $.ajax({
                    type: "POST",
                    url: url,
                    data: {userID: this.userID, orgID: orgID, userName: this.userName, selectedRoleID: this.selectedRoleID, passwd: this.passwd, userTel: this.userTel, userMail: this.userMail, isActive: this.isActive},
                    success: function(result) {
                        var res = eval(result)
                        alert(res["message"]);
                        window.location.reload();
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert(errorThrown);
                    }
                });
            }
        }
    });

    function loadUserInfo(userID) {
        var url = $('#path').val() + '/users/get'
        $.ajax({
            type: "POST",
            url: url,
            data: {userID: userID},
            success: function(result) {
                var user = eval(result);
                userInfo.userName = user.name;
                userInfo.passwd = user.passwd;
                userInfo.confirm_passwd = user.passwd;
                userInfo.selectedRoleID = user.roleID;
                userInfo.userTel = user.phoneNumber;
                userInfo.userMail = user.eMail;
                userInfo.orgID = user.deptID;
                userInfo.isActive = user.active;
                userInfo.userID = user.uID;
                $('#orgID').val(user.deptID);

                if(userInfo.isActive == false) {
                    $("[name='my-checkbox']").bootstrapSwitch('state', false, false);
                }

                showAddModal(userInfo.orgID);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert(errorThrown);
            }
        });
    }


  $('#addUserModal').on('hidden.bs.modal', function () {
      clearForm($('#vform'));
      $('#vform').validate().resetForm();
      $("[name='my-checkbox']").bootstrapSwitch('state', true, true);
  });

  function clearForm(form) {
      // input清空
      $(':input', form).each(function () {
          var type = this.type;
          var tag = this.tagName.toLowerCase(); // normalize case
          if (type == 'text' || type == 'password' || tag == 'textarea')
              this.value = "";
          // 多选checkboxes清空
          // select 下拉框清空
          else if (tag == 'select')
              this.selectedIndex = -1;
      });
  };

    $("#treeTable").treetable({
        expandable: true,
        initialState: 'expanded'
    });

    // Highlight selected row
    $("#treeTable tbody").on("mousedown", "tr", function() {
        $(".selected").not(this).removeClass("selected");
        $(this).toggleClass("selected");
    });

    $("[name='my-checkbox']").bootstrapSwitch();
    $('input[name="my-checkbox"]').on('switchChange.bootstrapSwitch', function(event, state) {
        userInfo.isActive = state;
    });

  /*]]>*/
</script>

</body>
</html>
