<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/modules/header::css_library"></head>

<body class="hold-transition skin-blue sidebar-mini">

<div class="wrapper">

  <!-- The header of page. -->
  <div th:replace="/modules/top::top"></div>

  <!-- Left side column. contains the logo and sidebar -->
  <div th:replace="/modules/left-nav::navbar"></div>


  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
  <iframe id="mainContentFrame" src="/sys/dashboard/content" width="100%" height="1000px" frameborder="0" scrolling="no" />

  </div>

  <!-- The footer of page -->
  <div th:replace="/modules/footer::footer"></div>

  <!-- Control Sidebar -->
  <div th:replace="/modules/right-config::siderbar"></div>
  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>

</div>
<!-- ./wrapper -->

<div th:replace="/modules/bottom::js_library"></div>

</body>
</html>
